/* components/Certifications.css */
.certifications-section {
    padding: 4rem 2rem;
    text-align: center;
     background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
     color: #333;
}

.certifications-section h2 {
    margin-bottom: 2rem;
    color: #2c2965;
}

.certifications-list{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.certification-item{
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.certification-item a, .certification-item span{
     color: #333;
      text-decoration: none;
}

.certification-item a:hover{
     color: #007bff;
}


.certification-item a{
        font-size: 1.2rem;
     padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: color 0.3s ease;
     display: inline-block;
     text-align: center;
     border: 1px solid #007bff;
}