/* components/Extracurricular.css */
.extracurricular-section {
    padding: 4rem 2rem;
    text-align: center;
     background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
     color: #333;
}

.extracurricular-section h2 {
    margin-bottom: 2rem;
    color: #2c2965;
}


.extracurricular-list{
      margin: 0 auto;
    max-width: 800px;
    list-style-type: disc;
    padding-left: 1.5rem;
}

.extracurricular-list li{
    margin-bottom: 1rem;
      background-color: white;
   padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}