/* components/Projects.css */
.projects-section {
    padding: 4rem 2rem;
    text-align: center;
     background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
}

.projects-section h2 {
    margin-bottom: 2rem;
    color: #2c2965;
}

.projects-section .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
}